@use "styles/theme.scss" as c;

.phone {
  &__title {
    font-weight: 600;
    font-size: 12px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
  }

  &__mask {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: c.$color-grey;
  }

  &__input {
    width: 32px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid c.$color-grey;
    text-align: center;
    outline: none;

    &::placeholder {
      color: c.$color-grey;
    }

    &:focus {
      border: 1px solid c.$color-blue;
    }

    @media (hover: hover) {
      &:hover {
        border: 1px solid c.$color-blue;
      }
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }

    &_warning {
      border: 1px solid c.$color-red;
    }

    &_access {
      border: 1px solid c.$color-green;
    }
  }
}
