@use "sass:color";

$color-background: #c0e8f3;

$color-white: #fff;
$color-grey: rgba(0, 0, 0, 0.5);
$color-blue: #3e66fb;
$color-blue-dark: rgba(62, 102, 251, 0.25);
$color-red: #f0373891;
$color-green: #3bc13bb6;
$color-black: #000;

$color-disabled: #67546d;
$background-disabled: #ceeaf2;


$color-shadow: rgba(0, 0, 0, 0.25);