@use "styles/theme.scss" as c;

body {
  background-color: c.$color-background;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
}

.button {
  padding: 20px;
  & span {
    color: c.$color-white;
    font-size: 30px;
  }
}

.container {
  display: grid;
  user-select: none;
}
ul {
  padding: 0;
  list-style: none;
}

